@font-face {
  font-family: SongMyung-Regular;
  src: url("../fonts/SongMyung-Regular.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}

h1,
h2,
h3 {
  font-family: SongMyung-Regular;
  font-weight: 400;
}

p {
  font-family: Roboto-Regular;
  font-weight: 400;
}

nav a {
  font-family: SongMyung-Regular;
  font-weight: 200;
}
